<!DOCTYPE html>
	<html>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/WillGagne-Maynard_Resume.pdf">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:will.maynard@gmail.com">email</a></li>
	        		<li><a href="https://github.com/wgagne-maynard"><img border="0" alt="github" src="/images/GitHub-Mark-32px.png" width="32",height="32">
				</a></li>
				<li><a href="https://instagram.com/wgagnemaynard"><img border="0" alt="instagram" src="/images/instagram.png" width="32",height="32">
				</a></li>

				<li><a href="https://twitter.com/will_gagne"><img border="0" alt="twitter" src="/images/twitter.jpg" width="32",height="32">
				</a></li>

				</ul>
			</footer>
		</body>
	</html>
